.projects-grid__list {
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;
}

.projects-grid__item {
  width: 25%;
  margin-top: 20px;
  margin-right: 20px;
}

.projects-grid__card {
  background-color: var(--common-backgroundColor-light);
  box-shadow: var(--common-boxShadow-primary);
  border-radius: var(--common-borderRadius-primary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.projects-grid__media {
  background-color: var(--common-backgroundColor-base);
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: contain;
  }
}

.projects-grid__title {
  margin-bottom: 10px;
  color: inherit;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
  }
}

.projects-grid__desc {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  color: var(--common-baseColor-secondary);
}

.projects-grid__users {
  margin: auto -20px 0;
  padding: 0 20px 10px;
  display: flex;
  position: relative;

  li {
    max-width: 27px;
    width: 13.5%;
  }

  a {
    border-radius: 50%;
    border: 2px solid var(--common-backgroundColor-light);
    width: 38px;
    height: 38px;
    overflow: hidden;
    background-color: #E5E8EC;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--common-accentColor-primary);
  }

  img {
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
  }
}

.projects-grid__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 20px 20px;
  margin: 0 -20px -20px;
}

.projects-grid__activity {
  font-size: 12px;
  line-height: 20px;
  color: var(--common-baseColor-secondary);
}

.projects-grid__favorite {
  margin: -10px;
  color: var(--common-accentColor-primary);

  button {
    padding: 10px;

    &.active {
      color: #F5A623;
    }
  }
}
