.projects-table {
  margin-top: 20px;
}

.projects-table__item {
  border-top: 1px solid var(--common-baseColor-hint);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  min-height: 68px;
  white-space: nowrap;
}

.projects-table__favorite {
  color: var(--common-accentColor-primary);
  margin-left: -10px;
  margin-right: 10px;

  button {
    padding: 10px;

    &.active {
      color: #F5A623;
    }
  }
}

.projects-table__info {
  width: 45%;
  position: relative;
  margin-right: 20px;
}

.projects-table__title {
  color: inherit;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.projects-table__desc {
  font-size: 12px;
  line-height: 20px;
  color: var(--common-baseColor-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects-table__users {
  display: flex;
  width: 25%;
  margin-right: 20px;

  li {
    width: 27px;
  }

  a {
    border-radius: 50%;
    border: 2px solid var(--common-backgroundColor-base);
    width: 38px;
    height: 38px;
    overflow: hidden;
    background-color: #E5E8EC;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--common-accentColor-primary);
  }

  img {
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
  }
}

.projects-table__activity {
  flex-grow: 1;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  color: var(--common-baseColor-secondary);
}
