.task {
  margin-top: 20px;
  background-color: var(--common-backgroundColor-light);
  box-shadow: var(--common-boxShadow-primary);
  border-radius: var(--common-borderRadius-primary);
  padding: 30px 20px;
}

.task__heading {
  display: flex;
  justify-content: space-between;
}

.task__info {
  padding-left: 30px;
  position: relative;
}

.task__status {
  position: absolute;
  top: 5px;
  left: 0;
  line-height: 0;

  button {
    width: 20px;
    height: 20px;
    border: 1px solid var(--common-baseColor-hint);
    border-radius: 3px;
    background-color: var(--common-backgroundColor-light);
  }
}

.task__title {
  h1 {
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
  }
}

.task__executor {
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  line-height: 22px;
  color: var(--common-baseColor-secondary);
}

.task__ava {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 7px;
  background-color: var(--common-baseColor-hint);

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.task__control {
  width: 120px;
  margin-left: 20px;
  margin-top: -10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.task__actions {
  display: flex;
  align-items: center;
  margin: -10px -5px;

  button {
    padding: 10px 5px;
    color: var(--common-accentColor-tertiary);
  }
}

.task__estimate {
  font-size: 14px;
  line-height: 22px;
  background-color: var(--common-backgroundColor-base);
  position: relative;
  display: flex;
  align-items: center;
  height: 26px;
  border-radius: 13px;
  padding-left: 41px;
  padding-right: 13px;
  margin-top: 30px;

  svg {
    position: absolute;
    left: 13px;
    top: -2px;
    color: #95AAC9;
  }
}

.task__subtasks {
  margin-top: 30px;
  margin-right: 140px;
  border-top: 1px solid var(--common-baseColor-divider);
  padding-top: 30px;
}

.task__chat {
  margin-top: 30px;
  margin-right: 140px;
  border-top: 1px solid var(--common-baseColor-divider);
  padding-top: 30px;
}
