.projects__control {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
}

.projects__search {
  margin-right: 30px;
  position: relative;
  width: ~"calc(25% + 5px)";

  input {
    background-color: #E5E8EC;
    height: 26px;
    border-radius: 13px;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    align-items: center;

    &:focus {
      background-color: var(--common-accentColor-primary);
      color: #fff;
    }
  }

  button {
    position: absolute;
    padding-left: 12px;
    padding-right: 12px;
    top: 0;
    right: 0;
    bottom: 0;
    color: var(--common-accentColor-primary);
  }

  input:focus + button {
    color: #fff;
  }
}

.projects__sorting {
  margin-right: 30px;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: ~"calc(25% + 5px)";

  label {
    margin-right: 13px;
  }

  select {
    background-color: #E5E8EC;
    height: 26px;
    border-radius: 13px;
    padding-left: 13px;
    padding-right: 35px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 5' xmlns='http://www.w3.org/2000/svg' fill='%235D9CEC'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.158934 0.918501C-0.0529779 0.708382 -0.0529779 0.36771 0.158934 0.15759C0.370845 -0.0525297 0.714421 -0.0525302 0.926333 0.15759L4.1163 3.32059C4.32821 3.53071 4.67179 3.53071 4.8837 3.32059L8.07367 0.15759C8.28558 -0.0525299 8.62916 -0.0525298 8.84107 0.15759C9.05298 0.36771 9.05298 0.708382 8.84107 0.918502L4.8837 4.84241C4.67179 5.05253 4.32821 5.05253 4.1163 4.84241L0.158934 0.918501Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 13px top 50%;
    background-size: 9px 5px;
    display: flex;
    align-items: center;

    &:focus {
      background-color: var(--common-accentColor-primary);

      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 5' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.158934 0.918501C-0.0529779 0.708382 -0.0529779 0.36771 0.158934 0.15759C0.370845 -0.0525297 0.714421 -0.0525302 0.926333 0.15759L4.1163 3.32059C4.32821 3.53071 4.67179 3.53071 4.8837 3.32059L8.07367 0.15759C8.28558 -0.0525299 8.62916 -0.0525298 8.84107 0.15759C9.05298 0.36771 9.05298 0.708382 8.84107 0.918502L4.8837 4.84241C4.67179 5.05253 4.32821 5.05253 4.1163 4.84241L0.158934 0.918501Z'/%3E%3C/svg%3E");
      color: #fff;
    }
  }
}

.projects__view {
  display: flex;
  color: var(--common-accentColor-primary);

  li {
    margin-top: -10px;
    margin-bottom: -10px;

    &:first-child {
      margin-left: -10px;
    }

    &:last-child {
      margin-right: -10px;
    }

    &.active {
      color: var(--common-baseColor-secondary);
    }
  }

  button {
    display: block;
    padding: 10px;
  }
}
