.chat__item {
  display: flex;

  & + & {
    margin-top: 30px;
  }

  a,
  button {
    color: var(--common-accentColor-primary);

    &:hover {
      color: var(--common-accentColor-secondary);
    }
  }
}

.chat__ava {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 20px;
  background-color: var(--common-baseColor-hint);

  .chat__item--highlight & {
    margin-top: 20px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.chat__body {
  flex-grow: 1;

  .chat__item--highlight & {
    background-color: var(--common-backgroundColor-base);
    padding: 20px;
    border-radius: 3px 25px 25px;
  }
}

.chat__name {
  font-weight: bold;
}

.chat__content {
  textarea {
    resize: none;
    border: 1px solid var(--common-baseColor-divider);
    border-radius: 25px;
    padding: 12px 20px;
    height: 50px;
  }
}

.chat__quote {
  margin-top: 10px;
}

.chat__toggle {
  font-size: 14px;
  line-height: 18px;

  & ~ & {
    margin-top: 10px;
    display: none;
  }

  .chat__quote--open & ~ & {
    display: block;
  }

  button {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted;
    margin-left: 24px;
    margin-right: 14px;
    position: relative;
  }

  svg {
    position: absolute;
    box-sizing: content-box;

    &:first-of-type {
      top: 3px;
      left: -24px;
      padding-right: 7px;
    }

    &:last-of-type {
      top: 8px;
      right: -19px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  span {
    &:last-of-type {
      display: none;
    }
  }

  .chat__quote--open & {
    svg {
      &:last-of-type {
        transform: rotate(180deg);
      }
    }

    span {
      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        display: inline;
      }
    }
  }
}

.chat__message {
  margin-top: 10px;
  margin-left: 24px;
  color: #5b5b5b;
  display: none;

  .chat__quote--open & {
    display: block;
  }
}

.chat__control {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.chat__date {
  font-size: 12px;
  line-height: 20px;
  color: var(--common-baseColor-secondary);
}

.chat__actions {
  display: flex;
  align-items: center;
  margin: -10px -5px;
  margin-left: 20px;

  button {
    padding: 10px 5px;
    color: var(--common-accentColor-tertiary);

    &:hover {
      color: var(--common-accentColor-tertiary);
    }
  }
}

.chat__hiding {
  &--active button {
    color: #E02020 !important;
  }
}

.chat__add {
  margin-top: 30px;
  display: flex;
}
