.aside {
  width: 25%;
  padding: 60px 0 20px 40px;
  font-size: 14px;
  line-height: 22px;

  a,
  button {
    color: var(--common-accentColor-primary);

    &:hover {
      color: var(--common-accentColor-secondary);
    }
  }
}

.aside__menu {
  & > li {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.aside__category {
  .active a&,
  .active button& {
    color: var(--common-baseColor-primary);
  }
}

.aside__icon {
  position: absolute;
  margin-left: -25px;
  padding-right: 11px;
  margin-top: 4px;
}

.aside__submenu {
  display: none;
  margin-top: 20px;

  .active & {
    display: block;
  }

  li {
    margin-top: 10px;
  }

  a {
    padding-top: 3px;
  }
}
