.subtask__title {
  font-size: 14px;
  line-height: 22px;
  color: var(--common-baseColor-secondary);
  margin-bottom: 18px;
  margin-top: -8px;
}

.subtask__list {
  & ~ & {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--common-baseColor-divider);
  }
}

.subtask__item {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 22px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.subtask__status {
  position: absolute;
  top: 4px;
  left: 0;
  line-height: 0;

  button {
    width: 15px;
    height: 15px;
    border: 1px solid var(--common-baseColor-hint);
    border-radius: 3px;
    background-color: var(--common-backgroundColor-light);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subtask__item--done & {
    button {
      border-color: #B3B3B3;
      background-color: #B3B3B3;
    }
  }
}

.subtask__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;

  .subtask__item--done & {
    color: #B3B3B3;
    text-decoration: line-through;
  }
}

.subtask__actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin: -10px -5px;

  button {
    padding: 10px 5px;
    color: var(--common-accentColor-tertiary);
  }
}

.subtask__hiding {
  &--active button {
    color: #E02020 !important;
  }
}

.subtask__remove {
  &:hover button {
    color: #E02020;
  }
}

.subtask__add {
  .subtask__list + & {
    margin-top: 8px;
  }
}

.subtask__create {
  .subtask__add--open & {
    display: none;
  }

  button {
    display: flex;
    align-items: center;

    color: var(--common-accentColor-primary);

    &:hover {
      color: var(--common-accentColor-secondary);
    }
  }

  svg {
    margin-right: 7px;
  }
}

.subtask__form {
  display: none;
  background-color: var(--common-backgroundColor-base);
  padding: 20px;
  border-radius: 3px;
  max-width: 600px;

  .subtask__add--open & {
    display: block;
  }

  label {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
    display: inline-block;
  }

  textarea {
    border: 1px solid var(--common-baseColor-hint);
    background-color: var(--common-backgroundColor-light);
    border-radius: 3px;
    padding: 10px 15px;
  }

  button {
    margin-top: 20px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 16px;

    &[type="submit"] {
      background-color: var(--common-accentColor-primary);

      &:hover {
        background-color: var(--common-accentColor-secondary);
      }
    }

    &[type="button"] {
      background-color: var(--common-accentColor-tertiary);

      &:hover {
        background-color: var(--common-accentColor-primary);
      }
    }
  }

  button + button {
    margin-left: 10px;
  }
}
