.add-users {
  background-color: var(--common-backgroundColor-light);
  width: 790px;
  margin: 120px auto;
  box-shadow: var(--common-boxShadow-primary);
  border-radius: var(--common-borderRadius-primary);
  overflow: hidden;
  position: relative;

  &::before {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: var(--common-accentColor-primary);
    opacity: 0.7;
  }
}

.add-users__head {
  background-color: var(--common-backgroundColor-base);
  padding: 40px;
  position: relative;
}

.add-users__close {
  position: absolute;
  top: 30px;
  right: 30px;

  button {
    padding: 10px;
  }
}

.add-users__title {
  h2 {
    font-size: 26px;
    line-height: 32px;
  }
}

.add-users__lead {
  margin-top: 12px;
  font-size: 18px;
  line-height: 24px;
}

.add-users__nav {
  margin-top: 30px !important;
  margin-bottom: -40px !important;
  display: flex;

  li {
    & + li {
      margin-left: 20px;
    }
  }

  button {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: var(--common-accentColor-primary);
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;

    &:hover {
      color: var(--common-accentColor-secondary);
    }
  }

  .active button {
    color: var(--common-baseColor-primary);
    border-bottom-color: var(--common-baseColor-primary);
  }
}

.add-users__body {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.add-users__choice {
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  flex-shrink: 0;
}

.add-users__invited {
  margin-top: 40px !important;

  li {
    height: 49px;
    border-bottom: 1px solid var(--common-baseColor-hint);
    display: flex;
    align-items: center;
  }
}

.add-users__guest {
  flex-grow: 1;
  overflow: hidden;
}

.add-users__man {
  margin-right: 10px;
  color: var(--common-baseColor-hint);

  .active & {
    color: #95ca52;
  }
}

.add-users__identification {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.add-users__status {
  font-size: 12px;
  line-height: 16px;

  button {
    color: var(--common-accentColor-primary);

    &:hover {
      color: var(--common-accentColor-secondary);
    }
  }

  a {
    color: var(--common-baseColor-secondary);
    text-decoration: none;

    &:hover {
      color: var(--common-accentColor-primary);
    }
  }
}

.add-users__cancel {
  margin-left: 10px;
  margin-right: -10px;

  button {
    color: var(--common-baseColor-hint);
    padding: 10px;

    &:hover {
      color: var(--common-accentColor-primary);
    }
  }
}

.add-users__text {
  margin-top: 50px;

  textarea {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid var(--common-baseColor-hint);
    border-radius: 3px;
    padding: 10px 15px;
  }

  button {
    height: 40px;
    border-radius: 20px;
    background-color: var(--common-accentColor-primary);
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 20px;

    &:hover {
      background-color: var(--common-accentColor-secondary);
    }
  }
}

.add-users__part {
  width: 50%;
  border-left: 1px solid var(--common-baseColor-divider);
  padding-left: 40px;
  padding-right: 40px;
  flex-shrink: 0;
}

.add-users__list {
  margin-top: 20px !important;
  margin-left: -15px;
  margin-right: -15px;

  li {
    display: flex;
    padding: 15px;
    border-radius: 40px;

    &:hover {
      background-color: var(--common-backgroundColor-base);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .no-active {
    color: var(--common-baseColor-secondary);
  }
}

.add-users__ava {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 20px;
  background-color: var(--common-baseColor-hint);

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.add-users__info {
  flex-grow: 1;
  overflow: hidden;
  margin-top: -6px;
  margin-bottom: -2px;
}

.add-users__check {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;

  input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }

  input + span {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 38px;
    color: var(--common-baseColor-secondary);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 16px;
      border: 1px solid var(--common-baseColor-hint);
      border-radius: 8px;
      content: "";
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: var(--common-baseColor-hint);
      content: "";
    }
  }

  input:checked + span {
    color: var(--common-baseColor-primary);

    &::before {
      border-color: #95ca52;
    }

    &::after {
      background-color: #95ca52;
      left: 16px;
    }
  }
}

.add-users__remove {
  align-self: center;
  display: none;
  margin-left: 10px;

  .add-users__list li:hover & {
    display: block;
  }

  button {
    color: var(--common-baseColor-hint);
    padding: 10px;

    &:hover {
      color: var(--common-accentColor-primary);
    }
  }
}
