<div class="add-users">
  <div class="add-users__head">
    <div class="add-users__close">
      <button type="button" aria-label="Закрыть" title="Закрыть">
        <svg width="19" height="19">
          <use xlink:href="/img/icon-close.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="add-users__title">
      <h2>Добавить пользователей в проект</h2>
    </div>

    <div class="add-users__lead">
      Вы можете пригласить людей, прислав им приветственное письмо,<br>
      или добавить уже зарегистрированных пользователей
    </div>

    <ul class="add-users__nav">
      <li class="active">
        <button type="button">
          Разработчики
        </button>
      </li>
      <li>
        <button type="button">
          Клиенты
        </button>
      </li>
    </ul>
  </div>

  <div class="add-users__body">
    <form class="add-users__choice">
      <div class="add-users__notion">
        Выберите пользователя из списка<br>
        или отправьте приглашение по email
      </div>

      <ul class="add-users__invited">
        <li class="active">
          <div class="add-users__man">
            <svg width="14" height="14">
              <use xlink:href="/img/icon-user.svg#user"></use>
            </svg>
          </div>

          <div class="add-users__guest">
            <div class="add-users__identification">
              Николай Прижевалов
            </div>

            <div class="add-users__status">
              <a href="mailto:nikola777999@rambrler.ru">nikola777999@rambrler.ru</a>
            </div>
          </div>

          <div class="add-users__cancel">
            <button type="button" aria-label="Отменить" title="Отменить">
              <svg width="13" height="16">
                <use xlink:href="/img/icon-remove.svg#remove"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="active">
          <div class="add-users__man">
            <svg width="14" height="14">
              <use xlink:href="/img/icon-user.svg#user"></use>
            </svg>
          </div>

          <div class="add-users__guest">
            <div class="add-users__identification">
              prostomail2458@mail.ru
            </div>
          </div>

          <div class="add-users__cancel">
            <button type="button" aria-label="Отменить" title="Отменить">
              <svg width="13" height="16">
                <use xlink:href="/img/icon-remove.svg#remove"></use>
              </svg>
            </button>
          </div>
        </li>
        <li>
          <div class="add-users__man">
            <svg width="14" height="14">
              <use xlink:href="/img/icon-user.svg#user"></use>
            </svg>
          </div>
        </li>
        <li>
          <div class="add-users__man">
            <svg width="14" height="14">
              <use xlink:href="/img/icon-user.svg#user"></use>
            </svg>
          </div>
        </li>
        <li>
          <div class="add-users__man">
            <svg width="14" height="14">
              <use xlink:href="/img/icon-user.svg#user"></use>
            </svg>
          </div>
        </li>
      </ul>

      <div class="add-users__text">
        <label for="text">Текст приглашения</label>
        <textarea id="text" rows="6">Добрый день! Приглашаем вас принять участие в проекте.</textarea>
        <button type="submit">Отправить приглашение</button>
      </div>
    </form>

    <div class="add-users__part">
      <div class="add-users__notion">
        Пользователи, которые<br>
        участвуют в проекте
      </div>

      <ul class="add-users__list">
        <li class="no-active">
          <div class="add-users__ava">
            <img src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" alt="">
          </div>

          <div class="add-users__info">
            <div class="add-users__identification">
              andrew@gmail.com
            </div>

            <div class="add-users__status">
              <button type="button">
                Отправить повторное приглашение
              </button>
            </div>
          </div>

          <div class="add-users__remove">
            <button type="button" aria-label="Удалить" title="Удалить">
              <svg width="13" height="16">
                <use xlink:href="/img/icon-remove.svg#remove"></use>
              </svg>
            </button>
          </div>
        </li>
        <li>
          <div class="add-users__ava">
            <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="">
          </div>

          <div class="add-users__info">
            <div class="add-users__identification">
              Константин Константинопольский
            </div>

            <div class="add-users__status">
              <a href="mailto:kostya@gmail.com">kostya@gmail.com</a>
            </div>

            <div class="add-users__check">
              <label>
                <input type="checkbox">
                <span>Менеджер</span>
              </label>
            </div>
          </div>

          <div class="add-users__remove">
            <button type="button" aria-label="Удалить" title="Удалить">
              <svg width="13" height="16">
                <use xlink:href="/img/icon-remove.svg#remove"></use>
              </svg>
            </button>
          </div>
        </li>
        <li>
          <div class="add-users__ava">
            <img src="https://images.unsplash.com/photo-1525186492356-0fe09a5831df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1541&q=80" alt="">
          </div>

          <div class="add-users__info">
            <div class="add-users__identification">
              Доронина Катерина
            </div>

            <div class="add-users__status">
              <a href="mailto:doroninakaterina@rambler.com">doroninakaterina@rambler.com</a>
            </div>
          </div>

          <div class="add-users__remove">
            <button type="button" aria-label="Удалить" title="Удалить">
              <svg width="13" height="16">
                <use xlink:href="/img/icon-remove.svg#remove"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
