<aside class="aside">
  <ul class="aside__menu">
    <li class="active">
      <button class="aside__category" type="button">
        <div class="aside__icon">
          <svg width="14" height="14">
            <use xlink:href="/img/icon-grid.svg#grid"></use>
          </svg>
        </div>

        Проекты
      </button>

      <ul class="aside__submenu">
        <li>
          <a href="#">
            Аквафон (из БК)
          </a>
        </li>
        <li>
          <a href="#">
            Битиркс-МаркетПлейс
          </a>
        </li>
        <li>
          <a href="#">
            ВебВей - портфолио
          </a>
        </li>
        <li>
          <a href="#">
            КСХ/ВСХ Личный кабинет (из БК)
          </a>
        </li>
        <li>
          <a href="#">
            Океанариум (из БК)
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>

<main class="main">
  <div class="projects">
    <div class="projects__control">
      <form class="projects__search">
        <input type="search" aria-label="Поиск">

        <button type="submit" aria-label="Найти" title="Найти">
          <svg width="14" height="14">
            <use xlink:href="/img/icon-search.svg#search"></use>
          </svg>
        </button>
      </form>

      <div class="projects__sorting">
        <label for="sorting">
          Сортировать
        </label>

        <select id="sorting">
          <option selected>по имени</option>
          <option>по дате</option>
        </select>
      </div>

      <ul class="projects__view">
        <li>
          <button type="button" aria-label="Избранное" title="Избранное">
            <svg width="14" height="14">
              <use xlink:href="/img/icon-star-outline.svg#star-outline"></use>
            </svg>
          </button>
        </li>
        <li class="active">
          <button type="button" aria-label="Плитки" title="Плитки">
            <svg width="14" height="14">
              <use xlink:href="/img/icon-grid.svg#grid"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" aria-label="Список" title="Список">
            <svg width="14" height="13">
              <use xlink:href="/img/icon-list.svg#list"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <div class="projects__grid">
      <div class="projects-grid">
        <div class="projects-grid__list">
          <div class="projects-grid__item">
            <div class="projects-grid__card">
              <div class="projects-grid__media">
                <img src="http://www.aquafon.com/img/logo.png" alt="">
              </div>

              <a href="#" class="projects-grid__title">
                <h3>
                  Аквафон (из БК)
                </h3>
              </a>

              <div class="projects-grid__desc">
                Структурализм категорически осмысляет смысл жизни. Единственной космической...
              </div>

              <ul class="projects-grid__users">
                <li>
                  <a href="#">
                    <img src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://images.unsplash.com/photo-1525186492356-0fe09a5831df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1541&q=80" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://images.unsplash.com/photo-1525186492356-0fe09a5831df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1541&q=80" alt="">
                  </a>
                </li>
                <li>
                  <a href="#" aria-label="Еще" title="Еще">
                    <svg width="16" height="4">
                      <use xlink:href="/img/icon-more.svg#more"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <div class="projects-grid__footer">
                <div class="projects-grid__activity">
                  Посл. активность: 05.09.19 18:45
                </div>

                <div class="projects-grid__favorite">
                  <button type="button" aria-label="Добавить в избранное" title="Добавить в избранное">
                    <svg width="14" height="14">
                      <use xlink:href="/img/icon-star-outline.svg#star-outline"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="projects-grid__item">
            <div class="projects-grid__card">
              <div class="projects-grid__media">
                <img src="https://cdn.tix-system.com/media/logo_open_menu/crocus-logo.png" alt="">
              </div>

              <a href="#" class="projects-grid__title">
                <h3>
                  КСХ/ВСХ Личный кабинет (из БК)
                </h3>
              </a>

              <ul class="projects-grid__users">
                <li>
                  <a href="#">
                    <img src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://images.unsplash.com/photo-1525186492356-0fe09a5831df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1541&q=80" alt="">
                  </a>
                </li>
              </ul>

              <div class="projects-grid__footer">
                <div class="projects-grid__activity">
                  Посл. активность: 05.09.19 18:45
                </div>

                <div class="projects-grid__favorite">
                  <button class="active" type="button" aria-label="Убрать из избранного" title="Убрать из избранного">
                    <svg width="14" height="14">
                      <use xlink:href="/img/icon-star-filled.svg#star-filled"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="projects__table">
      <div class="projects-table">
        <div class="projects-table__list">
          <div class="projects-table__item">
            <div class="projects-table__favorite">
              <button type="button" aria-label="Добавить в избранное"  title="Добавить в избранное">
                <svg width="14" height="14">
                  <use xlink:href="/img/icon-star-outline.svg#star-outline"></use>
                </svg>
              </button>
            </div>

            <div class="projects-table__info">
              <a href="#" class="projects-table__title">
                <h3>
                  Аквафон (из БК)
                </h3>
              </a>

              <div class="projects-table__desc">
                Структурализм категорически осмысляет смысл жизни. Единственной космической...
              </div>
            </div>

            <ul class="projects-table__users">
              <li>
                <a href="#">
                  <img src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="https://images.unsplash.com/photo-1525186492356-0fe09a5831df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1541&q=80" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="https://images.unsplash.com/photo-1525186492356-0fe09a5831df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1541&q=80" alt="">
                </a>
              </li>
              <li>
                <a href="#" aria-label="Еще" title="Еще">
                  <svg width="16" height="4">
                    <use xlink:href="/img/icon-more.svg#more"></use>
                  </svg>
                </a>
              </li>
            </ul>

            <div class="projects-table__activity">
              Посл. активность: 05.09.19 18:45
            </div>
          </div>

          <div class="projects-table__item">
            <div class="projects-table__favorite">
              <button class="active" type="button" aria-label="Убрать из избранного" title="Убрать из избранного">
                <svg width="14" height="14">
                  <use xlink:href="/img/icon-star-filled.svg#star-filled"></use>
                </svg>
              </button>
            </div>

            <div class="projects-table__info">
              <a href="#" class="projects-table__title">
                <h3>
                  КСХ/ВСХ Личный кабинет (из БК)
                </h3>
              </a>
            </div>

            <ul class="projects-table__users">
              <li>
                <a href="#">
                  <img src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="https://images.unsplash.com/photo-1525186492356-0fe09a5831df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1541&q=80" alt="">
                </a>
              </li>
            </ul>

            <div class="projects-table__activity">
              Посл. активность: 05.09.19 18:45
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
