<aside class="aside">
  <ul class="aside__menu">
    <li class="active">
      <button class="aside__category" type="button">
        <div class="aside__icon">
          <svg width="14" height="14">
            <use xlink:href="/img/icon-grid.svg#grid"></use>
          </svg>
        </div>

        Группы задач
      </button>

      <ul class="aside__submenu">
        <li>
          <a href="#">
            Все
          </a>
        </li>
        <li>
          <a href="#">
            В Производстве (что делаем в первую очередь) Хотелки, ошибки и тп
          </a>
        </li>
        <li class="active">
          Коммерческая версия
        </li>
        <li>
          <a href="#">
            Сломалось/отвалилось
          </a>
        </li>
        <li>
          <a href="#">
            Дизайнерское оформление
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a class="aside__category" href="#">
        <div class="aside__icon">
          <svg width="14" height="14">
            <use xlink:href="/img/icon-documents.svg#documents"></use>
          </svg>
        </div>

        Документы
      </a>
    </li>
    <li>
      <a class="aside__category" href="#">
        <div class="aside__icon">
          <svg width="14" height="14">
            <use xlink:href="/img/icon-activity.svg#activity"></use>
          </svg>
        </div>

        Активность
      </a>
    </li>
    <li>
      <button class="aside__category" type="button">
        <div class="aside__icon">
          <svg width="14" height="14">
            <use xlink:href="/img/icon-user.svg#user"></use>
          </svg>
        </div>

        Пользователи
      </button>
    </li>
  </ul>
</aside>

<main class="main">
  <ul class="breadcrumbs">
    <li>
      <a href="#">
        Главная
      </a>
    </li>
    <li>
      <a href="#">
        ВебКемп разработка
      </a>
    </li>
    <li>
      <a href="#">
        Управление пользователями
      </a>
    </li>
    <li class="active">
      Проект. Добавление пользователя (разработчик)
    </li>
  </ul>

  <div class="task">
    <div class="task__heading">
      <div class="task__info">
        <div class="task__status">
          <button type="button" aria-label="Завершить" title="Завершить"></button>
        </div>

        <div class="task__title">
          <h1>Проект. Добавление пользователя (разработчик)</h1>
        </div>

        <div class="task__executor">
          <div class="task__ava">
            <img src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" alt="">
          </div>

          <div class="task__user">
            Константин Константинопольский
          </div>
        </div>
      </div>

      <div class="task__control">
        <ul class="task__actions">
          <li>
            <button type="button" aria-label="Редактировать" title="Редактировать">
              <svg width="16" height="16">
                <use xlink:href="/img/icon-edit.svg#edit"></use>
              </svg>
            </button>
          </li>
          <li>
            <button type="button" aria-label="Добавить в закладки" title="Добавить в закладки">
              <svg width="11" height="16">
                <use xlink:href="/img/icon-bookmark.svg#bookmark"></use>
              </svg>
            </button>
          </li>
          <li>
            <button type="button" aria-label="Удалить" title="Удалить">
              <svg width="13" height="16">
                <use xlink:href="/img/icon-remove.svg#remove"></use>
              </svg>
            </button>
          </li>
        </ul>

        <div class="task__estimate">
          <svg width="20" height="20">
            <use xlink:href="/img/icon-blank.svg#blank"></use>
          </svg>

          17 ч, 30 м
        </div>
      </div>
    </div>

    <div class="task__subtasks">
      <div class="subtask">
        <div class="subtask__title">
          Подзадачи
        </div>

        <ul class="subtask__list">
          <li class="subtask__item">
            <div class="subtask__status">
              <button type="button" aria-label="Завершить" title="Завершить"></button>
            </div>

            <div class="subtask__name">
              Макетируем раздел
            </div>

            <ul class="subtask__actions">
              <li>
                <button type="button" aria-label="Скрыть" title="Скрыть">
                  <svg width="22" height="14">
                    <use xlink:href="/img/icon-eye-show.svg#eye-show"></use>
                  </svg>
                </button>
              </li>
              <li class="subtask__remove">
                <button type="button" aria-label="Удалить" title="Удалить">
                  <svg width="13" height="16">
                    <use xlink:href="/img/icon-remove.svg#remove"></use>
                  </svg>
                </button>
              </li>
            </ul>
          </li>
          <li class="subtask__item">
            <div class="subtask__status">
              <button type="button" aria-label="Завершить" title="Завершить"></button>
            </div>

            <div class="subtask__name">
              Верстаем раздел
            </div>

            <ul class="subtask__actions">
              <li class="subtask__hiding  subtask__hiding--active">
                <button type="button" aria-label="Отменить скрытие" title="Отменить скрытие">
                  <svg width="22" height="17">
                    <use xlink:href="/img/icon-eye-hide.svg#eye-hide"></use>
                  </svg>
                </button>
              </li>
              <li class="subtask__remove">
                <button type="button" aria-label="Удалить" title="Удалить">
                  <svg width="13" height="16">
                    <use xlink:href="/img/icon-remove.svg#remove"></use>
                  </svg>
                </button>
              </li>
            </ul>
          </li>
          <li class="subtask__item">
            <div class="subtask__status">
              <button type="button" aria-label="Завершить" title="Завершить"></button>
            </div>

            <div class="subtask__name">
              Делаем промежуточную верстку текущего функционала
            </div>

            <ul class="subtask__actions">
              <li>
                <button type="button" aria-label="Скрыть" title="Скрыть">
                  <svg width="22" height="14">
                    <use xlink:href="/img/icon-eye-show.svg#eye-show"></use>
                  </svg>
                </button>
              </li>
              <li class="subtask__remove">
                <button type="button" aria-label="Удалить" title="Удалить">
                  <svg width="13" height="16">
                    <use xlink:href="/img/icon-remove.svg#remove"></use>
                  </svg>
                </button>
              </li>
            </ul>
          </li>
        </ul>

        <div class="subtask__add">
          <div class="subtask__create">
            <button class="js-subtask-open" type="button">
              <svg width="15" height="15">
                <use xlink:href="/img/icon-add.svg#add"></use>
              </svg>

              Добавить подзадачу
            </button>
          </div>

          <form class="subtask__form">
            <label for="text">Чтобы добавить несколько подзадач, введите каждое название с новой строки.</label>
            <textarea id="text" rows="5"></textarea>
            <button type="submit">Добавить</button>
            <button class="js-subtask-close" type="button">Отмена</button>
          </form>
        </div>

        <ul class="subtask__list">
          <li class="subtask__item  subtask__item--done">
            <div class="subtask__status">
              <button type="button" aria-label="Отменить" title="Отменить">
                <svg width="9" height="7">
                  <use xlink:href="/img/icon-done.svg#done"></use>
                </svg>
              </button>
            </div>

            <div class="subtask__name">
              Закрытая подзадача
            </div>

            <ul class="subtask__actions">
              <li>
                <button type="button" aria-label="Скрыть" title="Скрыть">
                  <svg width="22" height="14">
                    <use xlink:href="/img/icon-eye-show.svg#eye-show"></use>
                  </svg>
                </button>
              </li>
              <li class="subtask__remove">
                <button type="button" aria-label="Удалить" title="Удалить">
                  <svg width="13" height="16">
                    <use xlink:href="/img/icon-remove.svg#remove"></use>
                  </svg>
                </button>
              </li>
            </ul>
          </li>
          <li class="subtask__item  subtask__item--done">
            <div class="subtask__status">
              <button type="button" aria-label="Отменить" title="Отменить">
                <svg width="9" height="7">
                  <use xlink:href="/img/icon-done.svg#done"></use>
                </svg>
              </button>
            </div>

            <div class="subtask__name">
              Другая подзадача, которая тоже закрыта
            </div>

            <ul class="subtask__actions">
              <li>
                <button type="button" aria-label="Скрыть" title="Скрыть">
                  <svg width="22" height="14">
                    <use xlink:href="/img/icon-eye-show.svg#eye-show"></use>
                  </svg>
                </button>
              </li>
              <li class="subtask__remove">
                <button type="button" aria-label="Удалить" title="Удалить">
                  <svg width="13" height="16">
                    <use xlink:href="/img/icon-remove.svg#remove"></use>
                  </svg>
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="task__chat">
      <div class="chat">
        <ul class="chat__list">
          <li class="chat__item">
            <div class="chat__ava">
              <img src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" alt="">
            </div>

            <div class="chat__body">
              <div class="chat__name">
                Константин Константинопольский
              </div>

              <div class="chat__content">
                Я немного в шоке от кассиров:) Надо им как-то помочь и переделать все к чёртовой матери. Устроить им разрыв шаблона и вывести из зоны комфорта тем самым
              </div>

              <div class="chat__quote">
                <div class="chat__toggle">
                  <button class="js-chat-toggle" type="btn">
                    <svg width="17" height="11">
                      <use xlink:href="/img/icon-quote.svg#quote"></use>
                    </svg>

                    <span>Развернуть</span>
                    <span>Свернуть</span>

                    <svg width="9" height="5">
                      <use xlink:href="/img/icon-array-down.svg#array-down"></use>
                    </svg>
                  </button>
                </div>

                <div class="chat__message">
                  Оленька, [27.09.19 13:02]<br>
                  но визуально магазин должен быть частью сайта.<br>
                  <br>
                  Оленька, [27.09.19 13:02]<br>
                  как раздел. и корзинка в шапке<br>
                  <br>
                  Тарас2, [27.09.19 13:20]<br>
                  <a href="#">https://webcamp.webway.ru/project/XX/task/XXX/#commentXXXXXX</a><br>
                  API/данных пока ещё нет?<br>
                  <br>
                  Оленька, [27.09.19 13:21]<br>
                  Нет. Рассчитываем, что будет загрузка файлом<br>
                  <br>
                  Тарас2, [27.09.19 13:48]<br>
                  Если логики будет на одну страницу, то будет в информике<br>
                  <br>
                  Ivan Voronin, [27.09.19 13:51]<br>
                  ок. мы тогда это все в макеты превращаем и в верстку.<br>
                  <br>
                  Ivan Voronin, [27.09.19 13:52]<br>
                  к верстке какое требование? - отдельно статикой делаем?<br>
                  <br>
                  Тарас2, [27.09.19 13:54]<br>
                  Никаких. Отдельный репозиторий сразу<br>
                  <br>
                  Ivan Voronin, [27.09.19 13:55]<br>
                  ок<br>
                </div>

                <div class="chat__toggle">
                  <button class="js-chat-toggle" type="btn">
                    <svg width="17" height="11">
                      <use xlink:href="/img/icon-quote.svg#quote"></use>
                    </svg>

                    <span>Развернуть</span>
                    <span>Свернуть</span>

                    <svg width="9" height="5">
                      <use xlink:href="/img/icon-array-down.svg#array-down"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <div class="chat__control">
                <div class="chat__date">
                  5 мин
                </div>

                <ul class="chat__actions">
                  <li>
                    <button type="button" aria-label="Скрыть" title="Скрыть">
                      <svg width="22" height="14">
                        <use xlink:href="/img/icon-eye-show.svg#eye-show"></use>
                      </svg>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="chat__item  chat__item--highlight">
            <div class="chat__ava">
              <img src="https://images.unsplash.com/photo-1525186492356-0fe09a5831df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1541&q=80" alt="">
            </div>

            <div class="chat__body">
              <div class="chat__name">
                Доронина Катерина
              </div>

              <div class="chat__content">
                Давайте заранее некоторые нюансы относительно сроков и методов ведения проекта на старте  и до MVP. Чтобы потом не было вопросов — а где Катя и почему она не участвует с нами в ТКС  и не предупреждает об отпусках…
              </div>

              <div class="chat__control">
                <div class="chat__date">
                  12.05.2019 &nbsp; 18:23
                </div>

                <ul class="chat__actions">
                  <li>
                    <button type="button" aria-label="Редактировать" title="Редактировать">
                      <svg width="16" height="16">
                        <use xlink:href="/img/icon-edit.svg#edit"></use>
                      </svg>
                    </button>
                  </li>
                  <li class="chat__hiding  chat__hiding--active">
                    <button type="button" aria-label="Отменить скрытие" title="Отменить скрытие">
                      <svg width="22" height="17">
                        <use xlink:href="/img/icon-eye-hide.svg#eye-hide"></use>
                      </svg>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

        <div class="chat__add">
          <div class="chat__ava">
            <img src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" alt="">
          </div>

          <div class="chat__body">
            <div class="chat__content">
              <form>
                <textarea placeholder="Добавить комментарий"></textarea>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
