.header {
  width: 100%;
  background-color: var(--common-accentColor-primary);
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  height: 56px;

  svg {
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-property: filter;
  }

  a {
    color: inherit;
    display: flex;
    align-items: center;
  }

  button {
    display: block;
  }

  a,
  button {
    padding-left: 15px;
    padding-right: 15px;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-property: text-shadow, transform, box-shadow;

    &:hover {
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
      transform: translateY(-1px);

      svg {
        filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
      }
    }
  }
}

.header__logo {
  padding-left: 40px;
  width: 25%;
  display: flex;

  a {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.header__nav {
  width: 75%;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}

.header__menu {
  display: flex;
  width: 100%;

  li {
    display: flex;

    &:first-child {
      margin-left: -15px;
    }

    &:last-child {
      margin-right: -15px;
    }
  }
}

.header__add-users {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;

  button {
    background-color: fade(#fff, 20%);
    height: 26px;
    border-radius: 13px;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    align-items: center;
    text-shadow: none !important;

    &:hover {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    }
  }

  svg {
    margin-right: 7px;
    filter: none !important;
  }
}
