:root {
  --common-baseColor-primary: #000;
  --common-baseColor-secondary: #929292;
  --common-baseColor-hint: #d1d1d1;
  --common-baseColor-divider: #eaeaea;

  --common-accentColor-primary: #5D9CEC;
  --common-accentColor-secondary: #1e66c0;
  --common-accentColor-tertiary: #ABCAF1;

  --common-backgroundColor-base: #F5F7FA;
  --common-backgroundColor-light: #fff;

  --common-borderRadius-primary: 6px;

  --common-boxShadow-primary: 0 1px 3px rgba(15, 94, 255, 0.2);
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 22px;
  background-color: var(--common-backgroundColor-base);
  color: var(--common-baseColor-primary);
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", NotoColorEmoji, "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 1200px;
  font-display: swap;
  margin: 0;
}

h1 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: inherit;
  text-align: left;
  padding: 0;
  border: medium none currentColor;
  background-color: transparent;
  margin: 0;

  &[disabled] {
    cursor: initial;
  }
}

svg,
use {
  transform: translateZ(0);
  fill: currentColor;
  stroke: currentColor;
  display: block;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
select,
textarea {
  outline: none;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  border: medium none currentColor;
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  border-radius: 0;
  padding: 0;

  &::placeholder {
    color: var(--common-baseColor-secondary);
    opacity: 1;
  }
}

input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

select {
  cursor: pointer;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  &::-ms-expand {
    display: none;
  }
}

textarea {
  resize: vertical;
}
