.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 26px;
  color: var(--common-baseColor-secondary);

  li {
    &:not(:last-child)::after {
      content: ">\00A0";
    }
  }

  a {
    color: inherit;
  }
}
