<!doctype html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Webcamp</title>
    <meta name="viewport" content="width=1200, initial-scale=1, minimum-scale=1, shrink-to-fit=no, viewport-fit=cover">
  </head>

  <body>
    <div class="page">
      <header class="header">
        <div class="header__logo">
          <a href="#" aria-label="Webway">
            <svg width="112" height="20">
              <use xlink:href="/img/logo.svg#logo"></use>
            </svg>
          </a>
        </div>

        <nav class="header__nav">
          <ul class="header__menu">
            <li>
              <button type="button" aria-label="Меню" title="Меню">
                <svg width="21" height="17">
                  <use xlink:href="/img/icon-menu.svg#menu"></use>
                </svg>
              </button>
            </li>
            <li>
              <a href="#">
                Проекты
              </a>
            </li>
            <li>
              <a href="#">
                Команда
              </a>
            </li>
            <li>
              <a href="#">
                Мои задачи
              </a>
            </li>
            <li class="header__add-users">
              <button type="button">
                <svg width="17" height="14">
                  <use xlink:href="/img/icon-add-users.svg#add-users"></use>
                </svg>

                Добавить пользователя
              </button>
            </li>
            <li>
              <button type="button" aria-label="Поиск" title="Поиск">
                <svg width="14" height="14">
                  <use xlink:href="/img/icon-search.svg#search"></use>
                </svg>
              </button>
            </li>
            <li>
              <button type="button" aria-label="Пользователь" title="Пользователь">
                <svg width="14" height="14">
                  <use xlink:href="/img/icon-user.svg#user"></use>
                </svg>
              </button>
            </li>
            <li>
              <a href="#" aria-label="Мобильная версия" title="Мобильная версия">
                <svg width="9" height="14">
                  <use xlink:href="/img/icon-mobile.svg#mobile"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" aria-label="Выход" title="Выход">
                <svg width="14" height="14">
                  <use xlink:href="/img/icon-logout.svg#logout"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </header>

      {{content}}

      <footer class="footer">
        <div class="footer__copyright">
          © 2019 – Webway.
        </div>
      </footer>
    </div>
  </body>
</html>
