<!doctype html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Webcamp</title>
    <meta name="viewport" content="width=1200, initial-scale=1, minimum-scale=1, shrink-to-fit=no, viewport-fit=cover">
  </head>

  <body>
    <div class="page">
      {{content}}
    </div>
  </body>
</html>
